@font-face {
font-family: "Open Sans";
src: url("/static/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
font-family: "Catamaran";
src: url("/static/fonts/catamaran/Catamaran-VariableFont_wght.ttf");
}

@font-face {
font-family: "Bitter";
src: url("/static/fonts/bitter/Bitter-VariableFont_wght.ttf");
}

body {
  background-color: #f4f4f4;
  font-family: 'Catamaran',Helvetica,Arial,sans-serif;
  color: #333;

}



.homepage-logo {
width: 75%;
margin: -6px 0 20px 19%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1, h2, h3, h4, h5 {
  background-color: #f4f4f4;
  font-family: 'Bitter',Helvetica,Arial,sans-serif;
  color: #333;

}


.logo-header h1 {
text-align: center;
margin: 40px 0 80px 0;
}


.homepage-bio p {
    padding: 0 10% 0 10%;
    text-align: justify;

}



.bio-ingles {
    padding: 72px 0 0 0;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

 .social-media-row ul li  {
    display: inline;
 }


.social-media-row ul li  {
  display:inline-block
 }

.social-media-row {
     position: static;
     width: 383px;
     margin-left: -1.5%;
 }



@media (min-width: 767px) {
.homepage-bio  {
    margin: 59.5% 0 0 0;
}
}

/*
mobile layout
*/
@media (max-width: 767px) {
.social-media-row {
     top: 15px;
 }


.profile-image-mobile {
width: 50%;
}
 .homepage-logo {
 padding-top: 40px;
}

.bio-ingles {
padding-top: 20px;
}

 .homepage-bio  {
    margin: 25px 0 0 0;

}

}


/*
ipad pro
*/
@media(max-width: 1028px) and (min-width: 1020px) {
.social-media-row {
     margin-left: -3%;
 }
}


/*
ipad
*/
@media(max-width: 780px) and (min-width: 765px) {
.social-media-row {
     margin-left: -7%;
 }
}


@media(max-width: 550px) and (min-width: 530px) {
.social-media-row {
     margin-left: 10%;
 }
}


@media(max-width: 420px) and (min-width: 399px) {
.social-media-row {
     margin-left: 1%;
 }
}


/*
iphone 6,7,8
*/
@media(max-width: 380px) and (min-width: 75px) {
.social-media-row {
     margin-left: -3%;
 }
}

/*
galaxy s5
*/
@media(max-width: 365px) and (min-width: 358px) {
.social-media-row {
     margin-left: -6%;
 }
}
/*
iphone 5
*/
@media(max-width: 325px) and (min-width: 315px) {
.social-media-row {
     margin-left: -13%;
 }
}
/*
galaxy fold
*/
@media(max-width: 290px) and (min-width: 270px) {
.social-media-row {
     margin-left: -23%;
 }
}


 .social-media-row img {
    width: 54px;

 }

.header-seccion {
text-align: center;
margin: 80px 0 80px 0;
}

a {
color: rgba(0,0,0,.5)
}