@font-face {
font-family: "Open Sans";
src: url("/static/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
font-family: "Catamaran";
src: url("/static/fonts/catamaran/Catamaran-VariableFont_wght.ttf");
}

@font-face {
font-family: "Bitter";
src: url("/static/fonts/bitter/Bitter-VariableFont_wght.ttf");
}

body {
  background-color: #f4f4f4;
  font-family: 'Catamaran',Helvetica,Arial,sans-serif;
  color: #333;

}



.homepage-logo {
width: 60%;
margin: -6px 0 20px 19%;

}


h1, h2, h3, h4, h5 {
  background-color: #f4f4f4;
  font-family: 'Bitter',Helvetica,Arial,sans-serif;
  color: #333;

}


.logo-header h1 {
text-align: center;
margin: 40px 0 80px 0;
}


.homepage-bio p {
    padding: 0 10% 0 10%;

}

.homepage-bio  {
    margin: 275px 0 0 0;

}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

 .social-media-row ul li  {
    display: inline;


 }

.social-media-row ul li  {
  display:inline-block
 }




.social-media-row {
     position: absolute;
     top: 194px;
     left: -1%;
     width: 375px;
 }


@media(max-width: 550px) and (min-width: 530px) {
.social-media-row {
     left: 10%;
 }
}


@media(max-width: 420px) and (min-width: 399px) {
.social-media-row {
     left: -1%;
 }
}


@media(max-width: 365px) and (min-width: 358px) {
.social-media-row {
     left: -8%;
 }
}

@media(max-width: 325px) {
.social-media-row {
     left: -15%;
 }
}



 .social-media-row img {
    width: 64px;

 }

.header-seccion {
text-align: center;
margin: 80px 0 80px 0;
}
