{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "sheetrock.css" %}">
  <title>. JMDB .</title>
</head>

<body>

<div class="container-lg">
  <div class="row">
    <div class="col">
      <div class="logo-header">
        <h1>Judith Morales del Barco</h1>
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col">
      <div class="homepage-bio">
      <p>
        <b> Bio-Castellano </b>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
        in a piece of classical Latin literature from 45 BC, making it over 2000 years
        old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
        passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source.
        Lorem Ipsum comes from sections 1.10.32 and
      </p>
        <p>Descargar CV
          <img src="{% get_media_prefix %}notes.png">
        </p>
      </div>
    </div>

  <div class="col">
    <img class="profile-image" src="{% get_media_prefix %}placeholder.jpg">

    <br><br>
    <div class="social-media-row">
      <ul>
        <li><img src="{% get_media_prefix %}social-media/instagram.png"></li>
        <li><img src="{% get_media_prefix %}social-media/youtube.png"></li>
        <li><img src="{% get_media_prefix %}social-media/telegram.png"></li>
        <li><img src="{% get_media_prefix %}social-media/twitter.png"></li>
        <li><img src="{% get_media_prefix %}social-media/linkedin.png"></li>
      </ul>

    </div>

    </div>
    <div class="col">
      <div class="homepage-bio">
      <p>
      <b>Bio-Ingles</b>
        It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout. The point of using Lorem Ipsum is
        that it has a more-or-less normal distribution of letters, as opposed to using
        'Content here, content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their default
        model text, and a search for 'lorem ipsum' will uncover many web sites still
        in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like). </p>
        <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text. All the Lorem Ipsum
        generators on the Internet tend to repeat predefined chunks as necessary,
        making this the first true generator on the Internet.
      </p>
      <p>Download Resumé
        <img src="{% get_media_prefix %}notes.png">
      </p>
    </div>
  </div>


  </div>

    <div class="row">
      <div class="col">
        <h1 class="header-seccion">Portfolio</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">


      <table>

      {% for clip1, clip2, clip3 in portfolio_items %}
      <tr>
       <td>
         {% if clip1.portfolio_image %}
          <a target="_blank" href="{% if clip1.portfolio_item_hosting == 'PD' %}
            {{ clip1.bio_file }}
            {% elif clip1.portfolio_item_hosting == 'EX' %}
            {{ clip1.external_site_url }}
             {% endif %}">

            <img class="portfolio-image" src="{% get_media_prefix %}{{ clip1.portfolio_image }}">
           {% endif %}
          </a>
      </td>

      <td style="width: 20%">
        {{ clip1.portfolio_description }}
      </td>

       <td>
         {% if clip2.portfolio_image %}
          <a target="_blank" href="{% if clip2.portfolio_item_hosting == 'PD' %}
            {{ clip2.bio_file }}
            {% elif clip2.portfolio_item_hosting == 'EX' %}
            {{ clip2.external_site_url }}
             {% endif %}">

            <img class="portfolio-image" src="{% get_media_prefix %}{{ clip2.portfolio_image }}">
           {% endif %}
          </a>
      </td>

      <td style="width: 20%">
        {{ clip2.portfolio_description }}
      </td>

       <td>
         {% if clip3.portfolio_image %}
          <a target="_blank" href="{% if clip3.portfolio_item_hosting == 'PD' %}
            {{ clip3.bio_file }}
            {% elif clip3.portfolio_item_hosting == 'EX' %}
            {{ clip3.external_site_url }}
             {% endif %}">

            <img class="portfolio-image" src="{% get_media_prefix %}{{ clip3.portfolio_image }}">
           {% endif %}
          </a>
      </td>

      <td style="width: 20%">
        {{ clip3.portfolio_description }}
      </td>

      </tr>
      {% endfor %}
    </table>

      </div>
    </div>


  <div class="row">
    <div class="col">
      <p>Copyright Judith Morales del Barco, {% now "Y" %}<br>
      Code by Lukas Udstuen<br>
      <a href="">Credits</p></a>

    </div>
  </div>

  </div>








</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>