{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

        <h1>Thanks</h1>

        <p>We would like to leave a special thanks to Author Freepik, which made possible the icons in this site. </p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  </div>
</div>
{% endblock %}
