{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="row row-cols-1">
      <div class="col">
    {% block pageheader %}
    {% endblock %}
      </div>
    </div>



      {% for clip1, clip2, clip3 in portfolio_items %}
      <div class="card-group">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
             <a target="_blank" href="{% if clip1.portfolio_item_hosting == 'PD' %}
            {{ clip1.bio_file }}
            {% elif clip1.portfolio_item_hosting == 'EX' %}
            {{ clip1.external_site_url }}
             {% endif %}">
            <img src="{% get_media_prefix %}{{ clip1.portfolio_image }}" class="card-img" alt="...">
             </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">{{ clip1.portfolio_description }}</p>
            </div>
          </div>
        </div>
      </div>

{% if clip2.portfolio_description %}

           <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
               <a target="_blank" href="{% if clip2.portfolio_item_hosting == 'PD' %}
            {{ clip2.bio_file }}
            {% elif clip2.portfolio_item_hosting == 'EX' %}
            {{ clip2.external_site_url }}
             {% endif %}">
              <img src="{% get_media_prefix %}{{ clip2.portfolio_image }}" class="card-img" alt="...">
               </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{ clip2.portfolio_description }}</p>
              </div>
            </div>
          </div>
        </div>
{% endif %}

{% if clip3.portfolio_description %}
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
       <a target="_blank" href="{% if clip3.portfolio_item_hosting == 'PD' %}
            {{ clip3.bio_file }}
            {% elif clip3.portfolio_item_hosting == 'EX' %}
            {{ clip3.external_site_url }}
             {% endif %}">
      <img src="{% get_media_prefix %}{{ clip3.portfolio_image }}" class="card-img" alt="...">
        </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{ clip3.portfolio_description }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

      </div>
 {% endfor %}




{% endblock %}
